.systemWindowsPage{
    background: url("../images/win10BackImage.jpg") no-repeat;
    background-size: 100% 100%;
    height:100%;
    width:100%;
    position: relative;
    overflow: hidden;
}
.windowsBarContainer{
    width:100%;
    height:30px;
    background: rgba(0,0,0,0.5);
}
.bottom{
    position: absolute;
    bottom:0;
    left:0;
}