block content
    header
        .nav
            .logo-container
                span.logo-word  #{webSiteName}
            ul.nav-group
                li.nav-item HOME
                li.nav-item DEMO
                li.nav-item ABOUT
                li.nav-item CONNECT
            .search-container
                .ui.search
                    .ui.icon.input
                        input.prompt(type='text', placeholder='searching...')
                        i.search.icon
                    .results