extends layout/homeLayout

block homecontent
    .home-box
        .ui.breadcrumb.breadcrumb-nav
            a(href="/").section MainPage
            .divider  /
            .active.section Home
        article.article
            h3#OneWord
