extends layout

block content
    link(rel='stylesheet',type="text/css", href='/bower_components/semantic/dist/semantic.min.css')
    link(rel='stylesheet',type="text/css", href='/css/base.css')
    link(rel='stylesheet',type="text/css", href='/css/home.css')
    link(rel='stylesheet',type="text/css", href='/bower_components/nprogress/nprogress.css')
    script(src="/bower_components/nprogress/nprogress.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/semantic/dist/semantic.min.js")
    script NProgress.start();
    //include layout/header
    .home-container
        .side-bar-box
            .side-bar-close-btn
                i.remove.icon
            ul.list-group
                a(href="/")
                    li.list-item
                        span Home
                a(href="/admin/blogList")
                    li.list-item
                        span BlogList
                a(href="/admin/userList")
                    li.list-item
                        span category
                a(href="/admin/chars")
                    li.list-item
                        span WebChars
                a(href="/admin/trash")
                    li.list-item
                        span Trash
            .sign-out-box
                span 登出
                i.sign.out.icon
        .side-bar-ico-box
            .side-bar-open-btn
                i.content.icon
            ul.list-group
                a(href="/admin")
                    li.list-item
                        i.home.icon
                a(href="/admin/blogList")
                    li.list-item
                        i.list.layout.icon
                a(href="/admin/userList")
                    li.list-item
                        i.grid.layout.icon
                a(href="/admin/chars")
                    li.list-item
                        i.line.chart.icon
                a(href="/admin/trash")
                    li.list-item
                        i.trash.outline.icon
            .sign-out-box
                i.sign.out.icon


        .pull-top
        .home-show-box
            block admincontent
    //include layout/footer
    script
        | $(function(){NProgress.done();})
    script(src="/js/homeLayout.js")