block content
    header
        .nav
            .logo-container
                a(href="/")
                    span.logo-word  #{webSiteName}
            ul.nav-group
                a(href="/home")
                    li.nav-item HOME
                a(href="/")
                    li.nav-item BLOG
                a(href="/")
                    li.nav-item ABOUT
                a(href="/")
                    li.nav-item CONNECT
            .login-regist-container
                a(href="/login")
                    .sim-box
                        .i
                        span Sign in
                a(href="/regist")
                    .sim-box
                        .i
                        span Sign up
            .search-container
                .ui.search
                    .ui.icon.input
                        input.prompt(type='text', placeholder='searching...')
                        i.search.icon
                    .results
