block content
    header
        .nav
            .logo-container
                a(href="/")
                    span.logo-word  #{webSiteName}
            ul.nav-group
                a(href="/home")
                    li.nav-item HOME
                a(href="/search")
                    li.nav-item SEARCH
                a(href="/")
                    li.nav-item ABOUT
                a(href="/")
                    li.nav-item CONNECT
            - if ( loginStatus != 1)
                .login-regist-container
                    a(href="/login")
                        .sim-box
                            .i
                            span Sign in
                    a(href="/regist")
                        .sim-box
                            .i
                            span Sign up
            .search-container
                .ui.search
                    .ui.icon.input
                        input.prompt(type='text', placeholder='searching...')
                        i.search.icon
                    .results
