extends layout

block content
    link(rel='stylesheet',type="text/css", href='/bower_components/semantic/dist/semantic.min.css')
    link(rel='stylesheet',type="text/css", href='/css/base.css')
    link(rel='stylesheet',type="text/css", href='/css/home.css')
    link(rel='stylesheet',type="text/css", href='/bower_components/nprogress/nprogress.css')
    script(src="/bower_components/nprogress/nprogress.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/semantic/dist/semantic.min.js")
    script NProgress.start();
    .home-container
        .side-bar-box
            .side-bar-close-btn
                i.remove.icon
            ul.list-group
                a(href="/")
                    li.list-item
                        span Home
                a(href="/home/user")
                    li.list-item
                        span User
                a(href="/home/addBlogs")
                    li.list-item
                        span NewBlog
                a(href="/home/blogList")
                    li.list-item
                        span BlogList
                a(href="/home/category")
                    li.list-item
                        span category
                a(href="/home/chars")
                    li.list-item
                        span WebChars
                a(href="/home/trush")
                    li.list-item
                        span Trush
            .sign-out-box
                span Sign Out
                i.sign.out.icon
        .side-bar-ico-box
            .side-bar-open-btn
                i.content.icon
            ul.list-group
                a(href="/home")
                    li.list-item
                        i.home.icon
                a(href="/home/user")
                    li.list-item
                        i.user.icon
                a(href="/home/addBlogs")
                    li.list-item
                        i.write.square.icon
                a(href="/home/blogList")
                    li.list-item
                        i.list.layout.icon
                a(href="/home/category")
                    li.list-item
                        i.grid.layout.icon
                a(href="/home/chars")
                    li.list-item
                        i.line.chart.icon
                a(href="/home/trush")
                    li.list-item
                        i.trash.outline.icon
            .sign-out-box
                i.sign.out.icon


        .pull-top
        .home-show-box
            block homecontent
    script
        | $(function(){NProgress.done();})
    script(src="/js/home.js")