*{
  border:0;
  padding:0;
  margin: 0;
}

html{
  height:100%;
  width: 100%;
}
body{
  height:100%;
  width: 100%;
  background: #f5f5f5;
}
header{
  height:60px;
  width: 100%;
  background: #333333;
}
.main-box{
  min-height:calc(100% - 240px);
  background: #FFFFFF;
  width: 100%;
  max-width: 1280px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}
footer{
  height:140px;
  width: 100%;
  background: #333333;
  text-align: center;
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size:14px;
}

/*header*/
header{
  .nav{
    width: 100%;
    max-width:1280px;
    height:100%;
    margin: auto;
    .logo-container{
      height:100%;
      width: auto;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      span.logo-word{
        font-size:26px;
        font-weight:700;
        font-family:黑体;
        color: #FFFFFF;
        vertical-align: middle;
        height:100%;
        line-height:60px;
        display: block;
      }
    }
    /*------*/
    ul.nav-group{
      display: inline-block;
      vertical-align: middle;
      height:100%;
      li.nav-item{
        display: inline-block;
        //float: left;
        height:100%;
        list-style:none;
        padding: 0 30px;
        font-size:16px;
        color: #FFFFFF;
        line-height:60px;
        cursor: pointer;
        &:hover{
          background: #666666;
          color: #00B7FF;
        }
      }
    }
    /*search-container*/
    .search-container{
      height:100%;
      width: auto;
      float: right;
      line-height:60px;
    }
    /*login-regist-container*/
    .login-regist-container{
      height:100%;
      width: auto;
      float: right;
      vertical-align: middle;
      line-height:60px;
        .sim-box{
          display: inline-block;
          vertical-align: middle;
          color: #333333;
          height:37px;
          line-height:35px;
          margin-left: -13px;
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          &:hover>.i{
            border-color: #00B7FF;
          }
          &:hover>span{
            background-color: #00B7FF;
            color: #FFFFFF;
          }
          .i{
            display: block;
            height:43px;
            width: 43px;
            position: absolute;
            background: transparent;
            left:-1px;
            top:calc(50% - 0.5px);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-border-radius:50%;
            -moz-border-radius:50%;
            border-radius:50%;
            border:30px solid #FFFFFF;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            z-index:10;
          }
          span{
            background: #FFFFFF;
            display: inline-block;
            vertical-align: middle;
            color: #333333;
            //background: #FFFFFF;
            height:37px;
            line-height:37px;
            padding: 0 15px 0 10px;
            margin-left: 21px;
            border-top-right-radius: 18px;
            border-bottom-right-radius: 18px;
            position: relative;
            z-index:20;
            font-weight:700;
          }
        }
    }
  }
}
/*分页*/
.pagination-container{
  width: 100%;
  height:40px;
  text-align: center;
  .pagination-listGroup{
    a{
      display: inline-block;
      height:100%;
      width:auto;
    }
    height:100%;
    width: auto;
    display: inline-block;
    border:1px solid #cccccc;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    overflow: hidden;
    .pagination-listItem{
      display: inline-block;
      height:100%;
      min-width: 40px;
      list-style:none;
      line-height:40px;
      text-align: center;
      cursor: pointer;
      background: #f9fafb;
      a{
        display: inline-block;
        height:100%;
        width: auto;
        padding: 0 10px;
      }
      &:not(:last-child){
        border-right:1px solid #cccccc;
      }
      &:hover{
        background: #00B7FF;
        color: #FFFFFF;
      }
    }
    .pagination-listItem.activePage{
      background: #7dc6ff;
      color: #FFFFFF;
    }
  }
}
