/*编辑器容器*/
.editor-container{
  width: 100%;
  margin: 20px auto;
    #editor-box{
      min-height:400px;
      width: 100%;
    }
}

.editor-markdown-container{
  display: none;
}
#submit-btn{
  width: 200px;
  margin: 30px auto 20px;
  display: block;
}
.imgUrlTtype{
  width: 94px;
  height: 37px;
  line-height:23px !important;
  text-align: center !important;
  position: relative;
}
#addBlogsPreviewImage{
  display: block;
  width: 100%;
  height:100%;
  position: absolute;
  left:0;
  top:0;
  z-index:10;
  opacity:0;
}
/*图片预览效果*/
#addBlogsPreviewImageShowBox{
  width: 300px;
  height:300px;
  margin: 10px 0;
  border: 1px solid #dddddd;
  padding: 10px;
  display: none;
  overflow: hidden;
  #addBlogsPreviewImageShow{
    width: 100%;
    height:100%;
  }
}
