.home-container{
  height:100%;
  width: calc(100% + 200px) ;
  background: #FFFFFF;
  position: relative;
  overflow: hidden;
  .side-bar-box{
    height:100%;
    width: 150px;
    background: #333333;
    margin-left: -150px;
    float: left;
    //border-right:1px solid #555555;
    color: #FFFFFF;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    .side-bar-close-btn{
      height:40px;
      width: 100%;
      text-align: right;
      line-height:40px;
      border-bottom: 1px solid #444444;
      cursor: pointer;
      i{
        font-size:26px;
      }
    }
    ul.list-group{
      display: block;
      width: 100%;
      height:auto;
      overflow: hidden;
      a{
        display: block;
        color: inherit;
      }
      li.list-item{
        display: block;
        height:40px;
        width: 100%;
        border-bottom:1px solid #666666;
        list-style: none;
        line-height:40px;
        text-align: right;
        font-size:14px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 20px 0 10px;
        font-weight:700;
        color: #eeeeee;
        text-shadow: none;
        cursor: pointer;
        &:hover{
          background: #555555;
        }
      }
    }
    .sign-out-box{
      height:40px;
      width: 100%;
      position: absolute;
      bottom:0;
      left:0;
      line-height:40px;
      text-align: center;
      border-top:1px solid #666666;
      overflow: hidden;
      cursor: pointer;
      &:hover{
        background: #ff0000;
      }
      i{
        font-size:20px;
      }
      span{
        vertical-align: top;
        margin: 0 3px;
        font-size:14px;
        font-weight:700;
      }
    }
  }
  .side-bar-ico-box{
    height:100%;
    width: 50px;
    background: #333333;
    float: left;
    color: #FFFFFF;
    position: relative;
    .side-bar-open-btn{
      height:40px;
      width: 100%;
      text-align: center;
      line-height:40px;
      border-bottom: 1px solid #444444;
      cursor: pointer;
      overflow: hidden;
        i{
          font-size:26px;
        }
    }
      ul.list-group{
        display: block;
        width: 100%;
        height:auto;
        overflow: hidden;
        a{
          color: inherit;
        }
        li.list-item{
          display: block;
          height:40px;
          width: 100%;
          border-bottom:1px solid #666666;
          list-style: none;
          line-height:40px;
          text-align: center;
          cursor: pointer;
          i{
            font-size:20px;
          }
        }
      }
    .sign-out-box{
      height:40px;
      width: 100%;
      position: absolute;
      bottom:0;
      left:0;
      line-height:40px;
      text-align: center;
      border-top:1px solid #666666;
      overflow: hidden;
      cursor: pointer;
      i{
        font-size:20px;
      }
    }
  }
  .pull-top{
    background-image: linear-gradient(to right,#313c48,#313c48 25%,#b47acc 25%,#b47acc 35%,#48a8f1 35%,#48a8f1 45%,#7dca59 45%,#7dca59 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
    height: 4px !important;
  }
  .home-show-box{
    height:calc(100% - 4px);
    width: calc(100% - 250px);
    background: #fefefe;
    float: left;
    overflow: auto;
  }
}

/*面包屑导航在内*/
.home-box{
  padding:0px;
  height:100%;
  width: 100%;
  position: relative;
  overflow: auto;
  .breadcrumb-nav{
    height:36px;
    width: 100%;
    line-height:36px;
    padding: 0 20px;
  }
  article.article{
    width: 100%;
    min-height:calc(100% - 60px);
    padding: 20px;
  }
}