.login-container{
  width: 340px;
  height:auto;
  margin:50px auto 20px;
  padding: 20px;
  border:1px solid #eeeeee;
  overflow: hidden;
  .login-tips{
    line-height:2;
    margin-top: 10px;
  }
}