.user-main-box{
  width: 100%;
}
.user-sim-panle{
  width: 100%;
  min-height:200px;
  border:1px solid #dddddd;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  position: relative;
  margin: 40px auto 20px;
  .user-sim-title{
    display: block;
    position: absolute;
    top:-15px;
    left:30px;
    height:30px;
    line-height:30px;
    background: #FFFFFF;
    padding: 0 10px ;
    font-weight: 700;
    border:1px solid #dddddd;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
  }
  .user-sim-box{
    min-height:40px;
    width: 100%;
    line-height:40px;
    margin: 20px auto;
    label{
      width: 200px;
      height:100%;
      display: inline-block;
      text-align: right;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 20px;
      font-size:16px;
      font-weight:700;
      color: #666666;
    }
    input{
      height:30px;
      display: inline-block;
      width: 400px;
      background: transparent;
      border:1px solid #cccccc;
      padding: 0 10px;
      color: #333333;
    }
    textarea{
      width: 400px;
      height:100px;
      border:1px solid #dddddd;
      padding: 5px;
    }
    input[disabled]{
      background: #eeeeee;
    }
    span.exchangePassword{
      display: inline-block;
      height:30px;
      width: auto;
      //background: red;
      line-height:30px;
      text-align: center;
      margin: 0 10px;
      padding: 0 10px;
      -webkit-border-radius:4px;
      -moz-border-radius:4px;
      border-radius:4px;
      border:1px solid #dddddd;
      cursor: pointer;
      &:hover{
        background: #00CC66;
        color: #FFFFFF;
      }
    }
    span.exchangeLogo{
      display: inline-block;
      height:30px;
      width: auto;
      //background: red;
      line-height:30px;
      text-align: center;
      margin: 0 10px;
      padding: 0 10px;
      -webkit-border-radius:4px;
      -moz-border-radius:4px;
      border-radius:4px;
      border:1px solid #dddddd;
      cursor: pointer;
      &:hover{
        background: #00CC66;
        color: #FFFFFF;
      }
    }
    .exchangePassword-box{
      display: none;
      width: 590px;
      height:auto;
      margin-left: 10px;
      padding: 20px;
      border: 1px dashed #dddddd;
      position: relative;
      .close-btn{
        position: absolute;
        right:5px;
        top:5px;
        font-size:24px;
        height:24px;
        width: 24px;
        line-height:24px;
      }
      .user-password-sim-box{
        height:40px;
        width: 100%;
        line-height:40px;
        margin: 10px auto;
        position: relative;
        label{
          width: 170px;
          height:100%;
          display: inline-block;
          text-align: right;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0 20px;
          font-size:16px;
          font-weight:700;
          color: #666666;
        }
        input{
          height:30px;
          display: inline-block;
          width: 350px;
          background: transparent;
          border:1px solid #cccccc;
          padding: 0 10px;
          color: #333333;
          outline:none;
        }
        input.error{
          color: #ff0000;
          border-color: #ff0000;
        }
        input.success{
          color: green;
          border-color: green;
        }
        /*密码复杂度条*/
        .password-complexity-box{
          display: block;
          position: absolute;
          bottom:-2px;
          height: 5px;
          width: 350px;
          //background: red;
          margin-left: 170px;
            span{
              display: block;
              height:5px;
              width: calc((100% - 9px)/4);
              float: left;
              border:1px solid #dddddd;
              &:not(:last-child){
                margin-right:3px;
              }
              &:nth-child(1).active{
                background: red;
              }
              &:nth-child(2).active{
                background: orange;
              }
              &:nth-child(3).active{
                background: yellowgreen;
              }
              &:nth-child(4).active{
                background: green;
              }
            }
        }
        i.psd-show{
          line-height: 15px;
          margin-left: -25px;
          cursor: pointer;
        }
        #verifiCode{
          width: 200px;
          display: inline-block;
          text-align: center;
          cursor: pointer;
        }
        #verifiCodeInput{
          width: 150px;
        }
        #exchangePassword-cimmit-btn{
          width: 160px;
          height:30px;
          background: #cccccc;
          margin: auto;
          line-height:30px;
          text-align: center;
          color: #FFFFFF;
          -webkit-border-radius:4px;
          -moz-border-radius:4px;
          border-radius:4px;
          cursor: pointer;
        }
        #exchangePassword-cimmit-btn.commit-active{
          background: #00CC66;
        }
      }
    }
  }
}

.user-info-submit{
  height:30px;
  width: 200px;
  background: #00CC66;
  border-radius: 4px;
  text-align: center;
  line-height:30px;
  color: #FFFFFF;
  font-weight: 700;
  margin-left: 200px;
  cursor: pointer;
}

/*照片预览LOGO*/
#userLogoPreview-show-container{
  display: inline-block;
  //min-height:30px;
  width: 400px;
  #userLogoPreview-show{
    height:200px;
    width: 200px;
    vertical-align: top;
  }
}

#userLogoPreview-container{
  width: calc(100% - 200px);
  height:auto;
  overflow: hidden;
  margin-left: 200px;
  display: none;
  #userLogoPreview{
      display: block;
      width: 400px;
      height: 400px;
      background: transparent;
      border:1px solid #dddddd;
      background-size: cover;
      float: left;
      margin-right:10px ;
      margin-bottom:10px ;
    img{
        width: 100%;
        height:auto;
        display: block;
      }
    }
    .userlogo-preview-box{
      display: block;
      width: 330px;
      height:400px;
      float: left;
      position: relative;
      border: 1px dashed #DDDDDD;
      padding: 5px ;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      .userlogo-preview{
        height:100px;
        width: 100px;
        margin-right:10px ;
        border:1px solid #DDDDDD;
        overflow: hidden;
        margin-bottom: 10px;
        float: left;
        display: block;
        background: #FFFFFF;
      }
      .put-image-data-btn{
        height:30px;
        width: 200px;
        background: #00CC66;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        position: absolute;
        left:65px;
        bottom:60px;
        text-align: center;
        line-height:30px;
        color: #FFFFFF;
        font-weight:700;
        cursor: pointer;
        #put-image-data-input{
          position: absolute;
          height:100%;
          width: 100%;
          z-index:10;
          left:0;
          top:0;
          display: block;
          opacity:0;
        }
      }
      .get-image-data-btn{
        height:30px;
        width: 200px;
        background: #00CC66;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        position: absolute;
        left:65px;
        bottom:10px;
        text-align: center;
        line-height:30px;
        color: #FFFFFF;
        font-weight:700;
        cursor: pointer;
      }
      .lg{
        width: 200px;
        height: 200px;
      }
      .mid{
        width: 100px;
        height:100px;
      }
      .small{
        width: 50px;
        height:50px;
      }
    }

}

